:root {
   ---color01: #ffffff;
   ---color02: #00e1ff;
   ---color03: #3894B0;
   ---color04: #3080AA;
   ---color05: #127BCF;
   ---color06: #286BA4;
   ---color07: #000000;
   ---color08: #d946ef;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'opens sans', Arial, Helvetica, sans-serif;
}

body {
   background-color: rgb(27, 27, 27);
}

form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: start;
   background-color: #141414;
   gap: 30px;
   border-radius: 10px;
   padding: 40px 20px;


   /* Box shadow para contraste com fundo preto */
   box-shadow:

      0 0 10px rgba(0, 225, 255, 0.2),
      0 0 20px rgba(217, 70, 239, 0.4),
      0 0 30px rgba(0, 0, 0, 0.4);

}

form h1 {
   font-size: 34px;
   font-weight: 800;
   color: var(---color02);
   letter-spacing: 3px;
   text-shadow:
      0 0 4px #00e1ff,
      0 0 8px #00e1ff;
   animation: blink 1s infinite;
}

@keyframes blink {

   0%,
   100% {
      opacity: 1;
   }

   50% {
      opacity: 0;
   }
}

form h1 {
   font-size: 34px;
   font-weight: 800;
   color: var(--color02);
   /* Corrigido: era '---color02' */
   letter-spacing: 3px;
   text-shadow:
      0 0 4px #00e1ff,
      0 0 8px #00e1ff;
   animation: blink 1s infinite;
}

form label {
   font-size: 16pt;
   color: var(---color02);
   font-weight: 500;
}

form div {
   display: flex;
   align-items: start;
   justify-content: center;
   flex-direction: column;
   gap: 10px;
}

form div input {
   width: 290px;
   height: 40px;
   border: 1px solid var(---color02);
   /* Corrigido de ---color02 para --color02 */
   border-radius: 10px;
   background-color: transparent;
   padding: 0 10px;
   /* Ajustado para evitar excesso de altura */
   font-size: 16px;
   color: var(--color02);
   /* Garante que o texto fique visível */
   outline: none;
   /* Remove o contorno padrão ao focar */
   transition: border-color 0.3s ease;
}

form div input:focus {
   box-shadow:
      0 0 10px rgba(0, 225, 255, 0.2),
      0 0 20px rgba(40, 107, 164, 0.2),
      0 0 30px rgba(0, 0, 0, 0.4);
   /* Destaque ao focar, se desejar */
}

form div input::placeholder {
   color: var(---color08);
   text-shadow:
      0 0 1px var(---color08),
      0 0 3px var(---color08);
   opacity: 0.5;
}

form div button {
   display: flex;
   width: 290px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   border: none;
   margin: 10px 0px;
}

#buttonEscolher {

   height: 45px;

   background: linear-gradient(135deg, #00e1ff, #007bff);
   box-shadow:
      0px 0px 10px var(---color02);

       font-size: 1.5rem;
      font-weight: bold;
      cursor: pointer;
      text-shadow: 0 0 5px #00e1ff;
   color: var(---color01);
}

.btn_cancel {
   background: linear-gradient(135deg, #d946ef, #8b5cf6);
   box-shadow:
      0px 0px 10px var(---color08);

         font-size: 1.5rem;
      font-weight: bold;
      cursor: pointer;
      text-shadow: 0 0 5px #d946ef;
   color: var(---color01);
}  
.btn_cadastra{
  position: relative;
  padding: 10px;
  border-radius: 12px;
  background: #000; /* Cor de fundo interna */
  z-index: 0;
  overflow: hidden;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(---color01);
}

.btn_cadastra::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(270deg, #00e1ff, #d946ef, #00e1ff);
  background-size: 600% 600%;
  animation: borderAnimation 6s ease infinite;
  z-index: -1;
  border-radius: 14px;
}

@keyframes borderAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
   margin-top: 30px;
   background-color: #000000;
   background-color: #000;
   /* fundo escuro para destacar o neon */
   color: #00e1ff;
   padding: 20px;
   border-radius: 10px;
   text-align: center;
   font-family: sans-serif;
   font-size: 1.2rem;


}

.escondido {
   display: none;
}

.visivel {
   display: none;
}

.nav_bar {
   position: fixed;
   top: 0;
   width: 100%;
   height: 85px;
   overflow: hidden;
   background-color: var(---color07);
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 20px 10px;
   z-index: 9999;
   box-shadow:
      0 0 5px #00e1ff,
      0 0 10px #00e1ff,
      0 0 20px #00e1ff,
      0 0 40px #286BA4,
      0 0 80px #286BA4;

   .nav_bar_content {
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;

   }

   .nav_bar_content img {

      width: 125px;
      height: 100%;
   }

   .nav_bar_content ul {
      display: flex;
      gap: 20px;

      list-style: none;


   }

   .nav_bar_content a {
      text-decoration: none;
      font-size: 15pt;
      font-weight: 500;
      color: var(---color02);
      background-color: #000;
      position: relative;
      letter-spacing: 2px;



   }

   .list_button_div_nav_bar {
      display: flex;
      gap: 50px;
      justify-content: center;

      margin-top: 10px;

   }

   .nav_bar_content a::after {
      content: "";
      width: 0%;
      height: 4px;
      background-color: var(---color02);
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 10px;
      transition: .5s ease-in-out;

      box-shadow: 00 0 3px #00e1ff,
         0 0 6px #00e1ff,
         0 0 20px #286BA4;

   }

   .nav_bar_content a:hover::after {
      width: 100%;
   }



   .btn_inscrever {

      margin-right: 20px;
      background: linear-gradient(135deg, #00e1ff, #286BA4);
      color: #fff;
      border: none;
      padding: 10px 28px;
      height: 40px;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 8px;
      cursor: pointer;
      text-shadow: 0 0 5px #00e1ff;
      box-shadow:
         0 0 5px #00e1ff,
         0 0 10px #00e1ff,
         0 0 20px #00e1ff,
         0 0 40px #286BA4;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
   }

   .btn_inscrever:hover {
      transform: scale(1.05);
      box-shadow:
         0 0 10px #00e1ff,
         0 0 20px #00e1ff,
         0 0 30px #00e1ff,
         0 0 60px #286BA4;
   }


   /* -----------------Responsividade */
   @media screen and (max-width:768px) {

      .nav_bar_content ul,
      button {
         display: none;
      }

      .logo img {
         width: 90px;
         height: 90px;
         margin-top: 14px;
      }

      #menu_icon {
         display: block;
         color: var(---color02);

         font-size: 2.5rem;
         cursor: pointer;

         text-shadow:
            0 0 2 px #00e1ff
      }
   }
}

/* ====================================== */

#home_section {
   height: calc(100vh -90px);
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 4rem;
   flex-direction: column;
   position: relative;
   z-index: 7777;


   .home_content h1 {

      font-size: 70px;
      text-align: center;
      font-weight: 1000;
      color: #00e1ff;

      animation: neonGlow 7s infinite alternate;
      animation: flutuar 2s ease-in-out infinite;
   }

   @keyframes neonGlow {
      0% {
         text-shadow:
            0 0 10px #00e1ff,
            0 0 20px #00e1ff,
            0 0 30px #00e1ff,
            0 0 60px #286BA4;
         color: #00e1ff;
      }

      100% {
         text-shadow:
            0 0 10px #286BA4,
            0 0 20px #286BA4,
            0 0 30px #286BA4,
            0 0 60px #00e1ff;
         color: #286BA4;
      }
   }

   .home_content h1 span {
      width: 100%;

      font-size: 70px;
      text-align: center;
      font-weight: 1000;
      color: #d946ef;

      animation: brilhoRoxo 7s infinite alternate;
   }

   @keyframes brilhoRoxo {
      0% {
         text-shadow:
            0 0 10px #d946ef,
            0 0 20px #d946ef,
            0 0 30px #d946ef,
            0 0 60px #7c3aed;
         color: #d946ef;
      }

      100% {
         text-shadow:
            0 0 10px #7c3aed,
            0 0 20px #7c3aed,
            0 0 30px #7c3aed,
            0 0 60px #d946ef;
         color: #7c3aed;
      }
   }

   .countdown {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      justify-content: center;
      align-items: center;
      margin-top: 60px;
      background-color: #141414;
      padding: 40px 20px;
      border-radius: 20px;
      margin-bottom: 40px;


      /* Box shadow para contraste com fundo preto */
      box-shadow:
         0 0 10px rgba(0, 225, 255, 0.2),
         0 0 20px rgba(217, 70, 239, 0.4),
         0 0 30px rgba(0, 0, 0, 0.4);
   }

   .countdown h2 {
      font-size: 30px;
      font-weight: 800;
      letter-spacing: 3px;
      color: var(---color08);

      text-shadow:
         0 0 4px var(---color08),
         0 0 8px var(---color08);
      animation: blink 1s infinite;

   }

}

.box {
   width: 130px;
   height: 100px;
   border-radius: 10px;
   background-color: #070707;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

   /* Box shadow estiloso com cores combinadas */


   box-shadow:

      0 0 10px rgba(0, 225, 255, 0.2),
      0 0 20px rgba(217, 70, 239, 0.4),
      0 0 30px rgba(0, 0, 0, 0.4);
}




@media screen and (max-width:768px) {

   .home_content h1 {
      font-size: 60px;
      text-align: center;
      width: 100%;
      margin-top: 120px;
      margin-bottom: 40px;
   }

   .home_content .subtitle {
      color: #6d6d6d;
      font-size: 17pt;
      font-weight: 550;
      margin-bottom: 40px;
   }

   @keyframes flutuar {
      0% {
         transform: translateY(0);
      }

      50% {
         transform: translateY(-7px);
      }

      100% {
         transform: translateY(0);
      }

   }

   .home_buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      margin-top: 60px;
      margin-bottom: 60px;
   }

   .home_buttons .btn_home_Se_Increver {

      background: linear-gradient(135deg, #00e1ff, #286BA4);
      color: #fff;
      border: none;
      padding: 10px 15px;

      font-size: 1rem;
      font-weight: bold;
      border-radius: 8px;
      cursor: pointer;
      text-shadow: 0 0 5px #00e1ff;
      box-shadow:
         0 0 5px #00e1ff,
         0 0 10px #00e1ff,
         0 0 20px #00e1ff,
         0 0 40px #286BA4;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      animation: button_pulse 2s ease-in-out infinite
   }

   .home_buttons .btn_home_Se_Increver:hover {
      transform: scale(1.05);
   }

   /* --- */
   .home_buttons .btn_home_Ver_Regras {

      background: linear-gradient(135deg, #d946ef, #7c3aed);
      /* Roxo e lilás */
      color: #fff;
      border: none;
      padding: 10px 15px;

      font-size: 1rem;
      font-weight: bold;
      border-radius: 8px;
      cursor: pointer;
      text-shadow: 0 0 5px #d946ef;
      box-shadow:
         0 0 5px #d946ef,
         0 0 10px #d946ef,
         0 0 20px #d946ef,
         0 0 40px #7c3aed;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      animation: button_pulse 2s ease-in-out infinite
   }

   .home_buttons .btn_home_Ver_Regras:hover {
      transform: scale(1.05);

   }

   @keyframes button_pulse {


      0% {
         transform: scaleY(1);
      }

      50% {
         transform: scaleY(1.2);
      }

      100% {
         transform: scaleY(1);
      }

   }

}


.value {
   font-size: 24pt;
   font-weight: 700;
   color: var(---color02);
}

.name {
   color: var(---color03);
}
.home02{
   height: 85vh;
   display: flex;
   align-items: center;
   justify-content: center;
}
.home02_content{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 60px;
  
}
.home02_content h2{
   text-align: center;
   font-size: 40px;
   font-weight: 800;
 

}
.home02_content h2 span{
   text-align: justify;
      color: #6d6d6d;
      font-size: 17pt;
      font-weight: 550;
      margin-bottom: 40px;
}